.jumbo{
  width: 100%;
  text-align: center;
  font-size: 50px;
  background-color: orange;
  height: 250px;

}
.center{
  margin: auto;
  width: 60%;
  padding: 3%;
}
.container{
  background-color: grey;
  width: 100%;
  height: auto;
}
.col-md-3{
  height: auto;
  background-color: green;
}
.col-md-9{
  height: auto;
}
