.jumbo{
  width: 100%;
  text-align: center;
  background-color: orange;
  height: 250px;

}
.center{
  margin: auto;
  width: 60%;
  padding: 3%;
  font-family: 'Indie Flower', cursive;
}
.container{
  background-color: grey;
  width: 100%;
  height: auto;
  font-family: 'Cormorant Garamond', serif;
  font-size: 29px;
}
.row{
  height: auto;
}
.col-md-3{
  height: inherit;
  background-color: green;
}
.col-md-9{
  height: inherit;
}
.col1{
  text-decoration: none;
}
a{
  color: #c9cbce
}
